body{
	margin: 0;
	background-color: #bbccff;
	height: 1100px;
}

.valbody{
	margin: 0;
	background-color: #bbccff;
	height: 800px;
}

.conbody{
	margin: 0;
	background-color: #bbccff;
	height: 600px;
}

nav{
	position: fixed;
	margin-top: -16px;
	width: 100%;
	height: 80px;
	background-color: #002530;
	padding-top: 7px;
	padding-left: 50px;
	z-index: 3;
}

.logo{
	position: absolute;
	height: 60px;
	margin-top: 3px;
}

.links{
	list-style: none;
	float: right;
	text-align: right;
	margin-right: 100px;
	font-size: 16px;
	font-family: arial;
}

.contatos{
	display: block;
	list-style: square;
	margin-left: 200px;
	margin-right: auto;
	float: none;
}

a{
	color: white;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

a:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #2aa8b5;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.20s ease-out;
	border-radius: 10px;
}

a:hover:after{
	transform: scaleX(1);
	transform: bottom right;
}

.banner{
	height: 550px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px -120px;
	background-image: url("img/banner.png");
}

.banner2{
	height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px -350px;
	background-image: url("img/team.jpg");
}

.banner3{
	height: 339px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px -250px;
	background-image: url("img/contact.jpg");
}

h1{
	text-align: center;
	font-family: calibri;
	color: #081b1e;
}

h2{
	text-align: left;
	font-family: calibri;
	font-size: 20px;
	color: #081b1e;
}

#texto{
	color: #081b1e;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	text-indent: 50px;
}

.cab{
	text-align: center;
	padding-top: 40px;
	float: left;
	margin-top: 16px;
	width: 100%;
	height: 60px;
	background-color: #2aa8b5;
	font-size: 18px;
	color: #002530;
}